.settings__setting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    font-size: 18px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }
  .settings__top:last-child {
    padding-bottom:35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .settings__bottom:first-child{
    padding-top:35px;
    border-top: none;
  }

  .settings__setting i {
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
  }
  .settings__setting-column:last-child {
    opacity: 0.5;
  }
  .settings__setting-column {
    display: flex;
  }

 
  